body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.password-container input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #45a049;
}

button#copyButton:hover {
  background-color: #3e8e41; /* Cambio de color al pasar el ratón por encima */
}

.options,
.checkboxes {
  text-align: left;
  margin: 10px 0;
}

label {
  display: block;
  margin: 5px 0;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.container.dark-mode {
  background-color: #444;
  color: #fff;
}

button.dark-mode {
  background-color: #666;
  color: white;
}

button.dark-mode:hover {
  background-color: #777;
}

input.dark-mode {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}

input.dark-mode:focus {
  border-color: #888;
}

.options.dark-mode,
.checkboxes.dark-mode {
  color: #fff;
}
